body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
      gap: 20px;
      padding: 20px;
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }
    }


    .box {
      background: linear-gradient(to right, #f06, yellow);
      color: white;
      padding: 20px;
      flex: 1;
      text-align: center;
      transition: all 0.3s ease;
    }
    .box:hover {
      transform: rotate(2deg);
    }
    .menu {
      background-color: #444;
      -moz-background-color: #444;
      color: white;
      padding: 10px;
    }
    @media (max-width: 768px) {
      .menu {
        display: none;
      }
    }