h1 {
    color: blue;
}

.header {
    color: green;
}

#id_header {
    color: red;
}

.example{
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    background: rgb(101, 220, 224);
    margin: 10px;
}

.example.box-sizing{
    box-sizing: border-box;
}

.fixed-box{
    width: 300px;
    height: 150px;
    background: coral;
    border: 2px solid black;
}

.container{
    width: 80%;
    background: lightgrey;
    height: 100px;
}

.percent-box{
    width: 50%;
    background: rgb(121, 232, 128);
    height: 100px;
}

.block1{
    width: 300px;
    margin: 30px;
    background: green;
}

.block2{
    width: 300px;
    padding: 30px;
    background: yellow;
}

.block3{
    width: 300px;
   background: red;
   border: 2px solid black;
}
